@font-face {
    font-family: "bebas";
    src: url("../fonts/bebas/BebasNeue-Regular.ttf");
  }

#about-fabrice {
    // display: flex;
    // justify-content: center;
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: #E4E4E4;
    .black-square, .yellow-square, .blue-square {
        display: none;
    }
    background-image: url("../image/pattern-r-2.png");
    background-repeat: repeat-y;
    @media screen and (min-width: 768px) {
        .squares {
            position: relative;
            height: fit-content;
            width: fit-content;
            float: right;
        }

        .black-square, .yellow-square, .blue-square {
            display: block;
            position: absolute;
        }
    
        .yellow-square, .blue-square {
            border-radius: 15px 0 0 15px;
        }
    
        .black-square {
            background-color: #1F1F1F;
            width: 300px;
            height: 250px;
            top: 50%;
            z-index: 1;
            right: 50%;
        }
    
        .yellow-square {
            background-color: #FCAE2C;
            width: 350px;
            height: 30px;
            z-index: 2;
            right: 50%;
            bottom: 70px;
        }
    
        .blue-square {
            background-color: #007A9C;
            height: 10px;
            width: 50%;
            height: 5px;
            z-index: 2;
            right: 50%;
            bottom: -53px;
        }
    }
    @media(min-width : 768px ) and (max-width:991px){
        .content-container {
            margin:0 auto;
        } 
        .black-square,.blue-square{
            display: none;
        }
    }

    

    .name {
        color: black;
        font-size: 50px;
        font-family: "bebas";
        margin-bottom: 30px;
    }

    .img-container {
        z-index: 3;
        position: relative;
        background-color: #000;
        width: 300px;
        height: 340px;
        border-radius : 5px;
    }

    p {
        color: black;
    }

    img {
        width: 100%;
    }

    .separator {
        height: 3px;
        width: 100px;
        background-color: #007A9C;
    }
}