@import "variables";
footer{
    padding-left : 5%;
    padding-right : 5%;
    .box{
        position : relative;
        align-items: center;
        justify-content: space-between;
        background: white;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
        transition : box-shadow 0.5s;
        &:hover{
            box-shadow: 0 4px 35px rgba(0, 0, 0, 0.4);
        }
        width:100%;
        border-radius: 8px;
        margin: 0 auto 0 auto;
        &::before{
            content : '';
            position: absolute;
            top : 0;
            left : 0;
            right : 0;
            bottom : 0;
            background-image: url("../image/pattern-black.png");
            background-position: center;
            background-repeat: repeat-y;
            opacity: 0.03;
            @media(max-width:$firstBreakpoint){
                background-image: url("../image/pattern-r-2.png");
                opacity: 0.4;

            }
        }
        @media(max-width:$secondBreakpoint){
            justify-content: center;
            text-align: center;
            div:first-child{
                margin-bottom:2em;
            }
        }
        div{
            width:auto;
        }
        p{
            font-size: 16px;
            line-height: 10px;
            &.ctitle{
                font-size: 18px;
            }
            @media(max-width : $secondBreakpoint){
                line-height: 20px;
            }
        }
    }
    .contact{
        z-index:99;
        .ctitle{
            font-size: 1.3em;
        }
        a{
            text-decoration: none !important;
            color:currentColor !important;
        }
        .social-media{
            padding-top:0.5em;
            display : flex;
            align-items: center;
            a{
                display: flex;
               text-decoration: none; 
               width:50px;
               height:40px;
            }
            i{
                display:flex;
                font-size :2em;
                margin-right: 14px;
                &.bi-facebook{
                    color : #3B5898;
                }
                &.bi-linkedin{
                    color : #0E76A8;
                }
                &.bi-youtube{
                    color : #C4302B;
                    margin-top:0.01em;
                    font-size: 2.2em;
                }
            }
            @media(max-width:$secondBreakpoint){
                justify-content: center;
                i{
                    margin: 0 7px;
                    &.bi-youtube{
                        margin-top:0.02em;
                    }
                }
            }
        }
    }
    
}