@font-face {
    font-family: "Proxima Nova bold";
    src: url("../fonts/proxima/Proxima\ Nova\ Bold.otf");
}

@font-face {
    font-family: "Proxima Nova regular";
    src: url("../fonts/proxima/ProximaNova-Regular.otf");
}

html, body {
    height: 100%;
    margin: 0;
}

header {
    padding: 0 20px;
}

form {
    width: 100%;
    padding: 64px 0px;
}

#left-part {
    display: none;
}

.form-field label {
    display: block;
    margin: 14px 0 4px;
    color: #0d0c22;
    font: bold 15px/24px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-field {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    padding: 9px 0;
}

main {
    padding: 0 20px;
    width:100%;
}

main, header {
    margin: 0 auto;
}

@media(max-width:515px){
    header{
        background-position:top;
        background-repeat: repeat-y;
    }
}

form, header,section {
    margin: auto;
    max-width: 500px;
    display: block;
}



input[type="submit"] {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-top: 22px;
    box-sizing: border-box;
    padding: 20px 40px;
    border-radius: 8px;
    outline: none;
    color:white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Proxima Nova bold";
    font-size: 20px;
    line-height: 20px;
    color: white;
    border : 0;
    margin-top:35px;

    /* color */
    background: rgb(58,89,133);
    background: linear-gradient(25deg, rgba(58,89,133,1) 0%, rgba(100,135,181,1) 53%, rgba(137,175,224,1) 100%);
}
input[type="submit"]:hover {
    background: #B2CAEE;
    color:#3A5985;
    /* border : 3px solid black; */
}

.form-field select {
    padding: 0px 16px;
}

.form-field input {
    padding: 10px 16px;
}

.form-field input, .form-field select {
    font-family: "Proxima Nova regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    -webkit-transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid transparent;
}

.form-field input:hover {
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.razoky {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
}

#left-part {
    display: block;
    background-color:#3A5985;
    color:white;
    padding: 30px 0;
    position:relative;
}
#left-part::before{
    content:'';
    position:absolute;
    top : 0;
    left:0;
    right:0;
    bottom : 0;
    background-image: url("../image/pattern.png");
    background-position:right bottom;
    background-repeat: repeat-y;
    background-size: cover;
    opacity:0.1;
}

.logo {
    margin-bottom: 30px;
}

header .logo {
    width: 50px;
}

@media screen and (min-width: 768px) {
    .form-field-group {
        display: flex;
        justify-content: space-between;
    }

    .form-field-group .form-field {
        width: 48%;
    }
}
#right-part h2{
    font-family: "Proxima Nova bold", sans-serif;
    color : #3A5985;
}
@media only screen and (min-width: 992px) {

    .razoky {
        display: block;
        width: 100%;
    }

    header {
        padding: 64px 64px 30px;
    }

    header h1 {
        font-family: "Proxima Nova bold", sans-serif;
        font-size: 2rem;
        line-height: 30px;
        padding-right: 30px;
    }

    .logo {
        margin-bottom: 30px;
    }

    header .logo {
        width: 50px;
    }

    .form-field-group {
        display: flex;
        justify-content: space-between;
    }

    input[type="submit"] {
        width: 100%;
    }


    .form-field-group .form-field {
        width: 48%;
    }

    body {
        background-color: black;
        display: grid;
        grid-template-columns: [left] 450px [right] 1fr;
    }

    #left-part {
        padding: 0;
        display: block;
        grid-column: left;
        grid-row: 1;
        height: 100%;
    }

    #right-part {
        grid-column: right;
        grid-row: 1;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        font-family: "Proxima Nova regular", sans-serif;
    }

    #right-part h2{
        font-family: "Proxima Nova bold", sans-serif;
        color : #3A5985;
    }
    #right-part h4{
        color : #89AFE0;
    }
    strong{
        font-family: "Proxima Nova bold", sans-serif; 
    }
    
}