@import "variables";

body {
	background: #E4E4E4;
	font-family: $proxima, sans-serif;
	overflow-x: hidden;

	#toTop {
		display: none;
		position: fixed;
		bottom: 15px;
		right: 15px;
		z-index: 999;
		color: $primarycolor;
		text-decoration: none;
		font-size: 2em;
		cursor: pointer;
	}
}

strong {
	font-family: $strongFont;
}

.ctitle {
	font-family: $title;
}

.px7 {
	padding-left: 7%;
	padding-right: 7%;

	@media (max-width: $firstBreakpoint) {
		padding-left: 8%;
		padding-right: 8%;
	}
}

.px5 {
	padding-left: 5%;
	padding-right: 5%;

	@media (max-width: $firstBreakpoint) {
		// padding-left: 3%;
		// padding-right: 3%;
	}
}

strong {
	font-family: $strongFont, sans-serif;
}

p {
	font-family: $paragraph;
	font-size: 1.05em;

	@media (max-width: $firstBreakpoint) {
		// font-size: 0.9em;
	}
}

.cbtn {
	background-color: $color-third;
	color: white;
	text-decoration: none;
	padding: 20px 40px;
	border-radius: 50px;
	border: 0;
    transition: all 0.25s;

	&.fill{
		box-sizing: border-box;
		width: max-content;
		padding: 15px 60px;
		font-family: $strongFont;
		text-transform: capitalize;
		font-size: 20px !important;
	}
	&.semi-rounded-left{
		border-radius: 0px 39px 0px 39px;
	}
	&.semi-rounded-right{
		border-radius: 39px 0 39px 0;
	}
	&.b-white{
		background-color: white;
    	border : 2px solid white;
    	color: black;
    	font-size: 20px !important;
    	&:hover{
    	    background-color: transparent;
    	    color:white;
    	}
	}
	&.hover-black{
		&:hover{
			background: none;
			color:black;
			border : 2px solid black;
		}
	}

}

a.cbtn:hover {
	color: white;
}


