@import "variables";

.header {
    background-color: #0b0b0b36;
    height: 100vh;
    color: white;
    background: #161616 url("../image/conference-unsplash.jpg") no-repeat;
    background-size: cover;
    background-position-y: 70px;
    background-repeat:repeat-y;

    .row {
        flex: 1 1 0;
        justify-content: center;
        max-width: 100%;

        .jumbotron {
            padding-bottom: 50px;
            font-size: 22px;

            p {
                // margin-bottom: 0;
            }

            p:nth-child(2) {
                margin-bottom: 1.5rem;
            }

            .big-text {
                font-family: $title;
                font-size: 60px;
                text-transform: uppercase;
                font-size: 90px;
                line-height: 1em;

                span:last-of-type {
                    color: $color-secondary;
                }

                @media (max-width : $firstBreakpoint) {
                    font-size: 60px;
                }
            }

            button {
                width: max-content;
                padding: 20px 40px;

            }
        }
    }

    .participe {
        transition: all 0.25s;
        box-sizing: border-box;
        width: max-content;
        padding: 15px 40px;
        border-radius: 0 39px 0 39px;
        font-family: $strongFont;
        text-transform: capitalize;
        background-color: white;
        border : 2px solid white;
        color: black;
        &:hover{
            background: none;
            color:white;
        }
    }
}