@import "variables";
.vocation{
    
    font-size: 22px;
    h3{
        font-size : 60px;
        font-family: $title;
        color : black;
    }
    .box{
        margin:0;
        z-index: 2;
        background: rgb(175,20,26);
        background: linear-gradient(343deg, rgba(175,20,26,1) 0%, rgba(212,94,34,1) 48%, rgba(215,100,35,1) 57%, rgba(252,174,44,1) 100%);
        border-radius: 8px;
        color : white;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        p{
            margin : 0;
        }
        br{
            @media(max-width : $secondBreakpoint){
                display: none;
            }
        }
        #animate1{
           #plant{
               width:100%;
               height:500px;
               position:absolute;
               bottom:0;
               transform: translate(10%,42%);
               @media(max-width : $firstBreakpoint){
                   display:none;
               }
           }
        }
    }
}